..wraper{
	padding: 30px 180px 30px 180px;

}

.Project-name{
	color: gray;
	font-size: 30px;
	padding: 20px 0px 0px 20px;
}

.navigation{
	display: block;
	text-align: center;
	padding: 0;
}

.navigation li{
	display: inline-block;
	background: #e0e0e0;
	padding: 1.5% 1.5%;
	border-right: 1px solid grey;
	width: 13%;
}

.navigation li a{
	color: #898f92;
	text-decoration: none;
}

.navigation li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
}
.navigation li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right:none; 
}

.navigation li:hover {
	box-shadow: inset 0 0 14px 1px #887b7b;
	background: #bdbdbd;
}




.title{
	padding: 80px;
	text-align: center;
	font-size: 26px;
}

.title button {
	padding: 15px;
	background: #40c740;
	font-size: 26px;
	color: #fff;
	border: none;
	border-radius: 12px; 
}

.row{
	display: block;
	padding: 25px;
}
.row .Heading {
	display: inline-block;
	padding: 20px 0;
	margin: 0 20px;
	width: 30%;
	vertical-align: top;
}

.row .Heading a{
	background:#0d81de;
	padding: 10px 18px;
	color: white;
	border: none;
	border-radius: 7px;
	font-family: Arial;
	text-decoration: none;
}

.red{
	color: red;
}

.hr{
	width: 60%;
	color: gray;
	padding: 30px;
}
.footer{
	padding-left: 30px;
}
















